    html {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    
    body {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        background-color: #767172;
    }
    
    a:link {
        color: white;
        text-decoration: none;
    }
    
    a:visited {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: white;
        text-decoration: none;
    }
    
    a:active {
        color: white;
        text-decoration: none;
    }
    
    .top {
        position: relative;
        width: 100%;
        display: inline-block;
        background-color: white;
    }
    
    .resize {
        width: 100%;
    }
    
    .logo {
        position: relative;
        width: 30%;
        margin-top: 10%;
        margin-left: 15%;
        padding-bottom: 5%;
    }
    
    .contact-but {
        position: absolute;
        top: 10%;
        right: 10%;
        border: solid;
        border-color: #767172;
        border-width: 2px;
        color: #767172;
        width: 15%;
        height: 20%;
        font-size: 2.5vw;
        font-family: nimbus-sans;
        padding: .5%;
    }
    
    .contact-but a:link {
        color: #767172;
    }
    
    .contact-but a:visited {
        color: #767172;
    }
    
    .contact-but a:hover {
        color: #767172;
    }
    
    .contact-but a:active {
        color: #767172;
    }
    
    .text {
        position: relative;
        width: 100%;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        )
    }
    
    .breakline {
        position: relative;
        width: 100%;
        height: 10px;
        background-color: #fbae3a;
    }
    
    .main {
        position: relative;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .body-text {
        position: relative;
        width: 70%;
        color: white;
        font-size: 2.7vh;
        margin-left: 15%;
        margin-right: 15%;
        font-family: nimbus-sans;
        font-weight: 400;
    }
    
    .foot {
        position: absolute;
        font-size: 2.4vh;
        margin-top: 10%;
        bottom: 5%;
    }
    
    @media screen and (max-width: 1023px) {
        .foot {
            text-align: center;
        }
    }